@model Datamantra.Model.Entity.Course
@{
    ViewBag.Title = "Courses";
}

<!--innerpage header start-->
<section class="inr_page_title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <h2>Information Systems</h2>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <h4>Home/Courses/@Model.CourseName</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--inner page header end-->
@if (Model != null)
{
     <!--course list start-->
    <section class="sec_pad paddingBoth100 doubleBorder backgroundLightGreen">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sidebarProducts">
                        <!--Course Info Begin-->
                        <div class="productBox">
                            <a href="course-single.html">
                                <div class="productImage">
                                    <img src="assets/images/demo-content/productImage-big.jpg" alt="Product">@*@Model.Image*@
                                </div>
                                <div class="productDescription">
                                    <h4 class="fw-600">
                                        @Model.CourseName
                                    </h4>
                                    <span>@Model.ShortDescription</span>
                                </div>
                            </a>
                            <div class="productMeta">
                                <div class="displayTableVertical">
                                    <div class="displayTableCell">
                                        <div class="jrOverallRatings"><div class="jrOverallUser" title="User rating"><span class="jrIconUsers jrRatingLabel"></span><div class="jrRatingStars"><div class="jrRatingStarsUser taL"><div style="width: 60%;">&nbsp;</div></div></div><span id="spanCourseRating" class="jrRatingValue pLeft10 mTop5">0</span><div class="clear"></div><span class="rating_count">(<span class="count">194 Reviews</span>)</span></div></div>
                                        @*<div class="starrr" data-rating="4"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa-star-o fa"></i></div>*@
                                    </div>
                                    <div class="displayTableCell">
                                        <span class="textLineThrough">@Model.Price$</span>
                                        <span class="colorMotive">@Model.DiscountedPrice$</span>
                                    </div>
                                    <div class="displayTableCell">
                                        <a href="#">@Model.EnrolledCount Student  <i class="fa fa-user"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Course Info End-->
                        <!--Staff Info Begin-->
                        <div class="personBox personBox--inline">
                            @{Html.RenderAction("_StaffList", "Datamantra", new { CourseId = Model.CourseId });}
                        </div>
                        <!-- Staff info end-->
                        @*<div class="sidebarNavigation">
                                <ul class="list-unstyled">
                                    <li class="fw-700"><a href="#"><i class="fa fa-paper-plane-o"></i>Home</a></li>
                                    <li class="fw-700"><a href="#"><i class="fa fa-laptop"></i>Curriculum</a></li>
                                    <li class="fw-700"><a href="#"><i class="fa fa-user"></i>Members</a></li>
                                    <li class="fw-700"><a href="#"><i class="fa fa-comments-o"></i>Events</a></li>
                                    <li class="fw-700"><a href="#"><i class="fa fa-stack-overflow"></i>Forum</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <div class="hidden-lg hidden-md marginBottom30"></div>
                <div class="col-md-8">
                    <div class="textBox textBox--price displayTableVertical marginBottom30">
                        <div class="displayTableCell text-left">
                            <span class="fw-600">Price :</span>
                            <span class="colorMotive">
                                <span class="textLineThrough"> @Model.Price$</span>
                                <span> @Model.DiscountedPrice$</span>
                            </span>

                        </div>
                        @*<div class="displayTableCell text-right">
                                <button type="submit" class="btn btn-primary text-capitalize">
                                    take this course
                                </button>
                            </div>*@
                    </div>

                    <div class="textBox">
                        <h4 class="fw-600 marginBottom40">
                            @Model.CourseName
                        </h4>
                        <p class="marginBottom40">
                            @Html.Raw(Model.LongDescription)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--course list end-->


}
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>